body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: darkgrey;
  height: 100px;
}

nav {
  width: 960px;
  margin: auto;
}

header img {
  margin-top: 15px;
  float: left;
}

header li {
  display: inline-block;
  line-height: 100px;
  margin-left: 90px;
}

header li:first-child {
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color:whitesmoke;
}

main {
  margin: auto;
  width: 960px;
}

main li:first-child {
  margin-left: 0;
}

main img {
  margin-top: 30px;
}

main li {
  float: left;
  margin-left: 30px;
}
main article {
  margin-top: 30px;
  width: 50%;
  float: right;
  text-decoration: none;
}


p {
  font-style: italic;
  margin-top: 3px;
  margin-left: 30px;
  color: black;
  overflow: auto;
  height: 334px;
  text-decoration: none;
}

h3 {
  font-size: 22px;
  margin-left: 30px;
  color: black;
  text-decoration: none;
}


div {
  margin-top: 5px;
  margin-left: 30px;
  border-radius: 2px;
  background-color: #111;
  color: whitesmoke;
  display: inline-block;
  padding: 10px 30px;
}

div:hover {
  background-color: yellow;
  transition: 350ms;
  color: black;
}

footer {
  height: 125px;
  background-color: darkgrey;
}
